{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row border mt-4 p-3 meupost ">
            <div class="col col-3 ">
                <div class="image pe-3"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="155" > </div>
                <strong>{{ post.autor.username }}</strong>
                <div class="row justify-content-center">
                    {% for curso in post.autor.cursos.split(';') %}
                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                    {% endfor %}
                </div>

            </div>
            <div class="col col-9  ">
                <h3>{{ post.titulo }}
                    <small class="text-muted" style="font-size: 15px"> Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if form %}
                            <a href="#editarpost">- Editar Post</a> / <a class="text-danger" href="#"data-bs-toggle="modal" data-bs-target="#excluirpost" >Excluir Post</a>
                        {% endif %}
                    </small>
                </h3>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
    </div>

{% if form %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col">
                <form method="POST" action="" id="editarpost" class="border p-4 mt-2" >
                    {{ form.csrf_token }}
                    <legend>Editar Post</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form.titulo.label(class ="form-control-label") }}
                            {% if form.titulo.errors %}
                                {{ form.titulo(class ="form-control is-invalid" ) }}
                            <div class="invalid-feedback" >
                                {% for erros in form.titulo.errors %}
                                    {{ erros }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.titulo(class ="form-control") }}
                            {% endif %}
                        </div>
                           <div class="form-group">
                            {{ form.corpo.label(class ="form-control-label") }}
                            {% if form.corpo.errors %}
                                {{ form.corpo(class ="form-control is-invalid" ) }}
                            <div class="invalid-feedback" >
                                {% for erros in form.corpo.errors %}
                                    {{ erros }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.corpo(class ="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form.botao_submit(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="excluirpost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja excluir esse post?(Essa ação não pode ser desfeita!)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
              <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}